<div class="container">
  <div class="row justify-content-md-center">

    {{> left-side route='publicChatRoom'}}

    <div class="user-main col-9">

      <div class="d-flex m-2">
        <a href="javascript:history.back()">
          <h3 class="my-2 fw-normal">←</h3>
        </a>
        <div class="col ms-0 ps-2">
          <span class="my-0 py-0 fw-bold">{{personal.name}}</span><br />
          <h2 class="my-0 py-0 text-secondary">公開聊天室</h2>
        </div>
      </div>
      <div class="hr-line"></div>
      <div class="container-fluid" style="border:2px solid tomato;height:650px">




        <div class="public-message-middle">
          <ul class="ul-public-message" id="public-message" style="height:100%;display: flex;
        flex-direction: column;">

            <li class="li-left-message" style="flex: 1;">在幹嘛</li>
            <li class="li-left-message" style="flex: 1;">在幹嘛啊</li>
            <li class="li-left-message" style="flex: 1;">在幹嘛</li>
            <li class="li-left-message" style="flex: 1;">在幹嘛啊</li>
            {{!-- 聊天室內容<li></li>>，一開始為空 --}}

          </ul>
        </div>

        <form id="public-message-form" action="">
          <div class="public-message-footer">
            <input id="messageInput" type="text" placeholder="請輸入訊息 ..." maxlength="160" class="public-message-input">
            <button class="send-btn" type="button" style="border:1px solid tomato;">
              傳送
            </button>
          </div>
        </form>






      </div>




    </div>

  </div>